<p>this is a menu from the menu partial</p>
<ul>
   <li><%= link_to 'Home', '/' %></li>
   <li><%= link_to 'Home', '/' %></li>
   <li><%= link_to 'Home', '/' %></li>
   <li><%= link_to 'Home', '/' %></li>
</ul>