
  <div class="span-24 last" id="body">
    <h1>Guides#show_locale</h1>
    <p>Find me in app/views/guides/show_locale.html.erb</p>
    <div class="span-17" id="main_feature">Ê
      <p>This is the main feature</p>
    </div>
    <div class="span-7 last" id="poi"><p>These are points of interest</p>Ê
       <%= render :partial => 'shared/menu' %>
    </div>
    <div class="clear span-5" id="sections">Ê<p>Sections (such as sections in a magazine) go here</p></div>
    <div class="span-12 append-7 last" id="teasers">
      <p>In this space we can put a big teaser, or an intro or something like that</p>
      <div class="span-6" id="features_left">Ê<p>teasers left column</p></div>
      <div class="span-6 last" id="features_right">Ê<p>teasers right column</p></div>
    </div>
    <div class="clear span-24 last" id="anchor_features">ÊThese are the anchor features aren't they awesome </div>
  </div>
